<div class="container">
    <select class="form-select my-3" aria-label="Default select example">
        <option selected>Open this select menu</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
    </select>

    <div class="container">
        <div class="row justify-content-center">
            <div *ngFor="let pokemon of listaPokemon | paginate: { itemsPerPage: limitPokemon, currentPage: pagina }" class="card col-3 m-3" style="width: 18rem;">
                <div class="text-center">#{{pokemon.id.toString().padStart(4, '0')}}</div>
                <img class="card-img-top" src={{pokemon.sprite}} alt="Card image cap">
                <div class="card-body justify-content-center">
                    <h5 class="card-title">{{pokemon.name | titlecase}}</h5>
                    <div class="d-flex justify-content-around">
                        <div>{{pokemon.type1 | titlecase}}</div>
                        <div>{{pokemon.type2 | titlecase}}</div>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <pagination-controls (pageChange)="mudarPagina($event)"></pagination-controls>
            </div>
        </div>
    </div>

</div>